<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @car.name %>
</p>

<p>
  <strong>Reg no:</strong>
  <%= @car.reg_no %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @car.driver %>
</p>

<p>
  <strong>Bought on:</strong>
  <%= @car.bought_on %>
</p>

<p>
  <strong>location:</strong>
  <%= @car.location %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
